doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Интернет-магазин браслетов регализ ручной работы
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap", 
    rel="stylesheet") 
    link(rel="stylesheet", type="text/css", href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")
    link(rel="stylesheet", href="../index.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css")
  body.page
    div.page__container
      h1 Привет! 
      footer.footer
        p.footer__copyright &copy; Серафима студио, 2025

    //- <footer class="footer">
//-         <p class="footer__copyright">&copy Серафима студио, 2024</p>
//-       </footer>


//- <!doctype html>
//- <html lang="ru">
//-   <head>
//-     <meta charset="UTF-8" />
//-     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
//-     <title>Интернет-магазин браслетов регализ ручной работы</title>

//-     <link rel="preconnect" href="https://fonts.googleapis.com" />
//-     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
//-     <link
//-       href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
//-       rel="stylesheet"
//-     />
//-     <link
//-       rel="stylesheet"
//-       type="text/css"
//-       href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
//-     />
//-     <link rel="stylesheet" href="./bundle.css" />
//-     <link
//-       rel="stylesheet"
//-       href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
//-     />
//-   </head>

//-   <body class="page">
//-     <div class="page__container">
//-       <footer class="footer">
//-         <p class="footer__copyright">&copy Серафима студио, 2024</p>
//-       </footer>
//-     </div>
//-     <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
//-     <script src="index.js"></script>
//-   </body>
//- </html>


//- doctype html
//- html(lang="ru")
//-   head
//-     meta(charset="utf-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1")
//-     title Карточки
//-     link(rel="stylesheet", href="/bundle.css")
//-   body.default-layout
//-     header.header
//-       a.header__logo
//-         img(src='/images/logo.svg', alt='logo')
//-       nav.header__menu
//-         ul.header__menu-list
//-           li.header__menu-list-item
//-             a.header__menu-link(href='#') Home
//-           li.header__menu-list-item
//-             a.header__menu-link(href='#') About
//-           li.header__menu-list-item
//-             a.header__menu-link(href='#') Contacts
//-     div.cards-list
//-       article.card
//-         .card__image
//-           img(src='/images/card.svg', alt="")
//-         .card__content
//-           .card__title Заголовок карточки 1
//-           .card__text Текст карточки 1
//-       article.card
//-         .card__image
//-           img(src='/images/card.svg', alt="")
//-         .card__content
//-           .card__title Заголовок карточки 2
//-           .card__text Текст карточки 2
//-       article.card
//-         .card__image
//-           img(src='/images/card.svg', alt="")
//-         .card__content
//-           .card__title Заголовок карточки 3
//-           .card__text Текст карточки 3
//-     footer.footer
//-       p.footer__text © VЁRSTKA
    
